:root {
    --pageColor: #000000;
    --pageColor2: #ffffff;
    --textColor: #ffffff;
    --textColorHover: #1F964B;
}

::-webkit-scrollbar {
    display: none;
}

@import url(//db.onlinewebfonts.com/c/51ee907427c788c3ab4442e73286d641?family=Corbel);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    position: absolute;
    background-color: var(--pageColor);
    text-align: right;
    height: 50px;
    width: 100%;
}

nav ul {
    margin-right: 50px;
}

nav ul li{
    position: relative;
    display: inline-block;
    padding: 42px 10px;
}

nav ul li a{
    padding: 30px;
    text-decoration: none;
    color: var(--textColor);
    font-size: 1.1em;
    font-family: 'Corbel', Arial, sans-serif;
    font-weight: bold;
    transition: 0.35s;
}

nav ul li a:hover{
    color: var(--textColorHover);
    text-shadow: 0 0 5px var(--textColorHover);
}

#contact {
    border: 3.5px solid var(--textColor);
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s;
}

#contact:hover {
    background-color: var(--pageColor2);
    color: var(--pageColor);
    text-shadow: none;
}

body {
    background-color: var(--pageColor);
}

.presentation {
    padding: 240px 75px;
    color: var(--textColor);
    font-family: 'Corbel', Arial, sans-serif;
}

.presentation h1 {
    display: inline-block;
    width: 50%;
    font-size: 4em;
}

span {
    transition: 0.35s;
}

span:hover{
    color: var(--textColorHover);
}

.presentation h3 {
    font-size: 1.5em;
    font-weight: normal;
}