:root {
    --pageColor: #000000;
    --pageColor2: #ffffff;
    --textColor: #ffffff;
    --textColorHover: #1F964B;
}

::-webkit-scrollbar {
    display: none;
}

@import url(//db.onlinewebfonts.com/c/51ee907427c788c3ab4442e73286d641?family=Corbel);

@font-face {
    font-family: 'Aoboshi-One';
    src: url(font/Aoboshi\ One.ttf);
}

@font-face {
    font-family: 'Biryani-Bold';
    src: url(font/Biryani-Bold.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    position: absolute;
    background-color: var(--pageColor);
    text-align: right;
    height: 50px;
    width: 100%;
}

nav ul {
    margin-right: 50px;
}

nav ul li{
    position: relative;
    display: inline-block;
    padding: 42px 10px;
}

nav ul li a{
    padding: 30px;
    text-decoration: none;
    color: var(--textColor);
    font-size: 1.1em;
    font-family: 'Corbel', Arial, sans-serif;
    font-weight: bold;
    transition: 0.35s;
}

nav ul li a:hover{
    color: var(--textColorHover);
    text-shadow: 0 0 5px var(--textColorHover);
}

#contact {
    border: 3.5px solid var(--textColor);
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s;
}

#contact:hover {
    background-color: var(--pageColor2);
    color: var(--pageColor);
    text-shadow: none;
}

body {
    background-color: var(--pageColor);
}

.presentation {

}

.presentationText {
    padding: 240px 75px;
    color: var(--textColor);
    font-family: 'Corbel', Arial, sans-serif;
}

.presentationText h1 {
    display: inline-block;
    width: 50%;
    font-size: 4em;
}

span {
    transition: 0.35s;
}

span:hover{
    color: var(--textColorHover);
}

.presentationText h3 {
    font-size: 2em;
    font-weight: normal;
}

.photo {

}

.about {
    background-color: var(--pageColor2);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 150px 80px;
}

.aboutImg {
    padding: 60px;
}

.aboutText {
    position: relative;
    text-align: right;
    width: 450px;
    left: 10px;
}

.aboutText h2 {
    font-family: 'Aoboshi-One', Arial, sans-serif;
    font-size: 3em;
}

.aboutText p {
    display: inline-block;
    font-family: 'Biryani-Bold', Arial, sans-serif;
    font-size: 1.3em;
    padding: 10px 0;
}

.skills {
    background-color: var(--pageColor);
    height: 100vh;
}

.skills h2 {
    color: var(--textColor);
    text-align: center;
    padding: 50px 0;
    font-size: 3em;
}